.logo{
    height: 65px;
    margin-top: -7px;
    margin-bottom: -7px;
}

.laranja{
    background-color: #e65926;
}

.link{
    text-decoration: none;
    color: rgba(255,255,255,.55);
}

.link:hover {
    color: #fff;
}